* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(39, 176, 218);
}

.app {
    display: grid;
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 209, 223);
    grid-template: 10% 90% / 15% 85%;
}

.header {
    background-color: red;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
}

.side {
    background-color: green;
    z-index: 1;
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.new-project {
    width: 60%;
    height: 3%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project {
    width: 100%;
    border-top: 1px solid rgb(87, 241, 52);
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.project > button {
    width: 80%;
    background-color: transparent;
    border: none;
}

.project > button:hover {
    width: 80%;
    background-color: rgb(72, 174, 21);
}

.content {
    background-color: orange;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
}

.project-content {
    background-color: blue;
    flex: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.modal-header {
    display: grid;
    grid-template: 1fr / 99fr 1fr;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    display: grid; 
    grid-template: 1fr 3fr / 1fr;
}

.modal-content > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
}

.pname {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.prior {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}



select {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1rem;
}

textarea {
    width: 100%;
}

.date {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

#date {
    margin-top: 0;
    margin-bottom: auto;
    width: 90%;
    height: 30%;
}

.desc {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.5rem;
}

.form-btn {
    grid-area: 3 / 1 / 4 / 3;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
